{% extends "base.html" %}
{% block content %}
  <style>
      #grid {
    position: relative;
    }
      .full {
    width: 100%;
    float: left;
    }
      #grid1 {
    position: relative;
    }
      #grid:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid black;
    position: absolute;
    left: 50%;
    margin-left: -20px;
    top: 0;
    z-index: 1;
    }
      #grid4 {
    position: relative;
    }
      #grid4:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid white;
    position: absolute;
    left: 50%;
    margin-left: -20px;
    top: 0;
    z-index: 1;
    }
      #grid1:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid white;
    position: absolute;
    left: 50%;
    margin-left: -20px;
    top: 0;
    z-index: 1;
    }
  #grid .button {
    margin: 40px auto 0 auto;
    }
      .button.green {
    background: yellow;
    border-color: yellow;
    }
      a:link {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
    }
      @media only screen and (min-width: 768px) {
        .button {
          font-size: 0.9em;
        }
      }
      .button {
        display: table;
        color: #fff;
        text-transform: uppercase;
        padding: 10px 20px;
        border-radius: 200px;
        line-height: normal;
        font-weight: 700;
        border: 3px solid yellow;
        transition: all, 0.3s;
      }
      .button:hover{
        background-color: white;
      }
      .button:hover{
        color: yellow;
      }
      .inner{
        overflow: hidden;
      }
      .inner img{
        transition: all 1.5s ease;
      }
      .inner:hover img{
        transform: scale(1.5);
      }
      #grid2 {
    position: relative;
    }
      #grid2:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid white;
    position: absolute;
    left: 50%;
    margin-left: -20px;
    top: 0;
    z-index: 1;
    }
   @media screen and (max-width: 1920px){

        .howwedo-img{
          max-width:350px;
          height:auto;
        }
        .my-gallery{
          height: 800px;
        }
      }
     @media screen and (max-width: 992px){

        .howwedo-img{
          max-width:350px;
          height:auto;
        }
        .my-gallery{
          height: 400px;
        }
      }
    @media screen and (max-width: 600px) {

        .howwedo-img{
          width:300px;
          height:auto;
        }
         .my-gallery{
          height: 400px;
        }

}
    .carousel-inner img {
    width: 100%;
    height: 100%
    }

    #custCarousel .carousel-indicators {
        position: static;
        margin-top: 20px;
        color:black;
    }

    #custCarousel .carousel-indicators>li {
        width: 100px
    }

    #custCarousel .carousel-indicators li img {
        display: block;
        opacity: 0.5
    }

    #custCarousel .carousel-indicators li.active img {
        opacity: 1
    }

    #custCarousel .carousel-indicators li:hover img {
        opacity: 0.75
    }

    .carousel-item img {
        width: 100%
    }
  </style>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100 img-fluid"  src="/static/images/abtus.png"  alt="First slide" style="padding-top: 135px;">
    </div>
</div>
</div>

    </div>
    <div id="grid" style="background-image: url('/static/images/back8.png');background-size: cover;background-repeat: no-repeat;background-attachment: fixed;">
    <div class="flex-container">
            
        
        <div class="row" style="padding-top: 3%;padding-bottom: 3%;padding-left:3%;">
            <h1 style="color: black;font-size: 2.5rem;">OUR <span style="color: #70b6bc;">HISTORY</span></h1>
        <div class="row" style="padding-top: 2%;">
        <div class="col-lg-6 col-md-6">
           <p data-aos="fade-down" style="font-family:Nunito;font-size: 18px;font-size: 20px;color:black;">REACHA was conceptualized in the year 1992 by a group of conscientious bureaucrats, technocrats, scientists and educationists who felt that it was necessary to create an institution that could ‘reach-out’ to the masses and enable them to empower themselves with knowledge, know-how and the will to bring about positive changes in their lives.</p>
              <p data-aos="fade-down" style="font-family:Nunito;font-size: 20px;color:black;" >Many of these citizens felt very strongly about government programmes not reaching the target groups for which they were meant. They felt it was necessary for voluntary workers to provide the ‘bridge’ for such programmes to create real impact on the ground.</p>
              <p data-aos="fade-down" style="font-family:Nunito;font-size: 20px;color:black;">Thus, REACHA began to facilitate the effective implementation of many government programmes - mainly in the domain of agriculture, rural development, health & family welfare, and education.</p>
              <p data-aos="fade-down" style="font-family:Nunito;font-size: 20px;color:black;" >Over the years REACHA devised its own programmes and their delivery methodologies based on local needs, customs and traditions, in tune with its ‘mission and philosophy’.</p>
              <p data-aos="fade-down" style="font-family:Nunito;font-size: 20px;color:black;">Many of these modules were tried and tested extensively on the ground for many years before getting incorporated into its main portfolio of ‘people-centric’ development.</p>
              <p data-aos="fade-down" style="font-family:Nunito;font-size: 20px;color:black;" >As REACHA’s work progressed, it developed meaningful partnerships with many like-minded institutions, organizations and corporates.</p>
              <p data-aos="fade-down" style="font-family:Nunito;font-size: 20px;color:black;" >It is necessary for the sake of larger national interest that there occurs a selfless inter-sharing of knowledge (also called ‘open source’ in today’s cyberspace jargon), know-how and effective working methodologies across such dedicated organizations to be able to bring about real positive change on the ground. Such partnerships have now begun to show their results. And these results are fuelling the genesis of more such partnerships.</p>
              <p data-aos="fade-down" style="font-family:Nunito;font-size: 20px;color:black;">REACHA as an organisation is firmly committed to practice organisational integrity.</p>

              </p>
              
        </div>
        <div class="col-lg-5 col-md-5 justify-content-center">
          <img src="/static/images/history1.JPG"  class="img-fluid" data-aos="fade-left"  style="border: 0.5px solid black">
          <img src="/static/images/history2.JPG"  data-aos="fade-left" style="margin-top: 5%;border: 0.5px solid black;width: 100%;height: auto;">

          </div>
        </div>
      </div>
    </div>
  </div>

      

<style>
  #team {
    background: #eee !important;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #108d6f;
    border-color: #108d6f;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #007b5e;
    border-color: #007b5e;
}

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: #007b5e !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #007b5e !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
</style>
      <div id="grid2" style="background: linear-gradient(rgba(0,0,0,0.9),rgba(76,76,76,0.9)),url('/static/images/mission&vision_background.jpg'); background-repeat: no-repeat;background-size: cover;background-attachment: fixed;background-position: center;">
      <section class="pb-5">
          <div class="flex-container">
          <div class="row justify-content-center" data-aos="fade-right" style="margin-left: 5%;margin-top: 2%;margin-bottom: 2%">
              <div class="col-lg-6 col-md-6">
                  <div class="inner">
                  <img src="/static/images/OUR%20VISIONARY%20FOUNDER%20&%20CHAIRMAN%20SRI%20J%20C%20PANT4.png" style="border: 0.5px solid black;" class="img-fluid">
                  </div>
              </div>
              <div class="col-lg-6 col-md-6">
                  <h1 style="color:#ec268f;font-size:2.5rem;margin-top: 2%;margin-right: 100%;">VISION</h1>
                  <p style="font-family:Nunito;font-size: 20px;font-weight: 500;color:white;margin-top: 2%">To reach out to masses, be with them, hear from them about their needs, and thereupon develop and
              implement <i><strong>sustainable models of socio-economic growth and development</strong></i>, through a participatory process.
              Prime objective is local development in harmony with nature, and in alignment with aspirations of people.</p>
              </div>
          </div>
              <div class="row justify-content-center" style="margin-bottom: 2%;margin-left: 5%;margin-right: 5%" data-aos="fade-left">
                  <div class="col-lg-6">
                      <h1 style="color:#ec268f;font-size: 2.5rem;font-weight: 500;margin-right: 100%;">MISSION</h1>
                      <p style="font-family:Nunito;font-size: 20px;color: white;margin-top: 2%;margin-bottom: 2%">REACHA is a community-based Non-Government Organisation (NGO) with a mission to deliver high impact to
              human development sectors like education, health, skilling of youth, women’s empowerment etc. To do this,
              it works closely with beneficiary underprivileged communities on need-based projects - partnering
              government, Corporate CSR, Civil Society and Academic Institutions, leading to optimum outcomes.
              A key approach is to get all stakeholders together – for <i><strong>co-creation, convergence, and collaboration.</strong></i></p>
                  </div>
                  <div class="col-lg-6">
                      <div class="inner">
                      <img src="/static/images/mission.jpg" style="border: 0.5px solid black;width: 600px;height: 400px;">
                      </div>
                  </div>
              </div>
          </div>
      </section>
      </div>
      <section style="background: linear-gradient(rgba(255,255,255,0.8),rgba(255,255,255,0.9)),url('/static/images/approach_back.jpg');background-repeat: no-repeat;background-size: cover;background-position: top;background-attachment: fixed;">
          <div class="container">
              <div class="row justify-content-center">
                 <h1 style="color: black;font-size: 2.5rem;">OUR <span style="color: #70b6bc;">APPROACH</span></h1>
              </div>
              <div class="row justify-content-center" style="border: 2px solid black;padding: 10px;margin-top: 2%">
                  <p style="font-family:Nunito;font-size: 20px;color:black;font-weight: 500;">Each REACHA intervention seeks community partnership in a deep-dive effort, so that locals are heard, they decide, and they implement - for their own good. REACHA, as an implementation organisation, becomes a knowledge partner, a facilitator that gets all stakeholders together. And this includes the local government as well. Models of intervention are co-created and then implemented in a participatory manner, with beneficiaries being their own evaluators – for progress, growth, and transformation. Special effort is laid on <strong><i>community ownership </strong></i>so that work that starts continues and local people take up the project as part of their own development.</p>
              </div>
              <div class="row justify-content-center" style="margin-top: 1%;">
                  <a class="btn btn-warning" href="#" style="font-family: Nunito;" data-toggle="modal" data-target="#exampleModalLong">Learn More</a>
                  <div class="modal fade bd-example-modal-lg" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <p style="font-family:Nunito;font-size: 18px;color:black;"><strong>Thematic Areas of Intervention</strong><br><br>Education, Health & Family Welfare, Environmental Conservation, Vocational Training/Skilling/Livelihood development, Sports for development, Women’s empowerment, Disability, Rural development, Slum development</p>
                              <h6 style="font-family:Nunito;font-size: 18px;color:black;"><strong>Sectors broadly categorized under Schedule VII, Companies Act 2013, under CSR:</h6></strong>
                              <p style="font-family:Nunito;font-size: 18px;">i. Eradicating hunger, poverty and malnutrition, promoting health care including preventive healthcare and sanitation including contribution to the Swach Bharat Kosh setup by the Central Goverment for the promotion of santitation and making available safe drinking water</p>
                              <p style="font-family:Nunito;font-size: 18px;">ii. Promoting education, including special education and employment enhancing vocation skills especially among children, women, elderly, and the differently abled and livelihood enhancement projects</p>
                              <p style="font-family:Nunito;font-size: 18px;">iii. Promoting gender equality, empowering women, setting up homes and hostels for women and orphans; setting up old age homes, day care centres and such other facilities for senior citizens and measures for reducing inequalities faced by socially and economically backward groups</p>
                              <p style="font-family:Nunito;font-size: 18px;">iv. Ensuring environmental sustainability, ecological balance, protection of flora and fauna, animal welfare, agroforestry, conservation of natural resources and maintaining quality of soil, air and water including contribution to the Clean Ganga Fund setup by the Central Goverment for rejuvenation of river Ganga. </p>
                              <p style="font-family:Nunito;font-size: 18px;">vii. Training to promote rural sports, nationally recognized sports, para-olympic sports and Olympic sports</p>
                              <p style="font-family:Nunito;font-size: 18px;">x. Rural development projects</p>
                               <p style="font-family:Nunito;font-size: 18px;">xi. Slum Area Development</p>
                                <p style="font-family:Nunito;font-size: 18px;">xii. Disaster Management, including relief, rehabilitation and reconstruction activities.</p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>
<div id="grid1">
<section id="team" class="pb-5">
     <h1  style="color: black;font-size: 2.5rem;text-align: center;">NATIONAL <span style="color: #70b6bc;">GOVERNING BOARD (NGB)</span></h1>
    <div class="container" style="font-family: Nunito">
        <div class="row" style="padding-top: 2%;">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class="rounded" src="/static/images/icon_founder.png" style="width: 100px;
height: 120px;" alt="card image" alt="card image"></p>
                                    <h4 class="card-title">Sri Jagdish Chandra Pant (IAS Retd.)</h4>
                                    <h5 class="card-text">Chairman</h5>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    
                                    <p class="card-text">Former Secretary, Government of India in Ministries of Agriculture and Health & Family Welfare</p>
                                    <p class="card-text">Former Chairman, High Powered Committee that was the precursor to the National Disaster Management Authority, Ministry of Home, Government of India.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img  class="rounded" src="/static/images/abha.jpg" style="width: 100px;
height: 120px;" alt="card image"></p>
                                    <h4 class="card-title">Dr (Mrs.) Abha Pant</h4>
                                    <h5 class="card-text">Vice Chairperson</h5>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    
                                    <p class="card-text">Former Chief Medical Officer, New Delhi Municipal Corporation, New Delhi</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img  class="rounded"  sty src="/static/images/ED.jpg" style="width: 100px;
height: 120px;" alt="card image"></p>
                                    <h4 class="card-title">Sri V.P. Singh <br>(IFS Retd.)</h4>
                                    <h5 class="card-text">Executive Director</h5>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    
                                    <p class="card-text">Former Principal Chief Conservator of Forests (PCCF), West Bengal, India</p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class="rounded" src="/static/images/treasurer.jpg" alt="card image" style="width: 100px;
height: 120px;"></p>
                                    <h4 class="card-title">Capt. V.K. Pandey</h4>
                                    <h5 class="card-text">Treasurer</h5>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    
                                    <p class="card-text">Chairman <br>Manava Bharati India International School, New Delhi</p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class="rounded" src="/static/images/slseth.jpeg" alt="card image" style="width: 100px;
height: 120px;"></p>
                                    <h4 class="card-title">Dr. S.L. Seth</h4>
                                    <h5 class="card-text">Member NGB</h5>
                                    
                                </div>
                            </div>
                        </div>s
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                   
                                    <p class="card-text">Former Principal Scientist,<br> Indian Council of Agricultural Research </p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class="rounded" src="/static/images/Member Sri R C Mital.jpg" alt="card image" style="width: 100px;
height: 120px;"></p>
                                    <h4 class="card-title">Sri Ramesh Mital</h4>
                                    <h5 class="card-text">Member NGB</h5>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    
                                    <p class="card-text">Senior Advocate Supreme Court </p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class="rounded" src="/static/images/akaash.jpeg" alt="card image" style="width: 100px;
height: 120px;"></p>
                                    <h4 class="card-title">Sri Aakash Khandelwal</h4>
                                    <h5 class="card-text">Member NGB</h5>
                                   
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    
                                    <p class="card-text">Member Secretary, DPS - Amritsar Director, Educore Consultants </p>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                      <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class="rounded" src="/static/images/5.%20Member%20Sh%20Lalit%20Pant.png" alt="card image" style="width: 100px;
height: 120px;"></p>
                                    <h4 class="card-title">Sri Lalit Pant</h4>
                                    <h5 class="card-text">Member NGB</h5>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">Sri Lalit Pant</h4>
                                    <p class="card-text">B.Tech (IIT Kanpur); M.Tech (IIT Delhi); Founder - Kojics Foundation</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                      <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class="rounded"  src="/static/images/ruchi.jpeg" alt="card image" style="width: 100px;
height: 120px;"></p>
                                    <h4 class="card-title">Smt. Ruchi Pant</h4>
                                    <h5 class="card-text">Member NGB</h5>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    
                                    <p class="card-text">AGM, Bharat Electronics Limited, Ghaziabad, Uttar Pradesh, India</p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                      <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class="rounded" src="/static/images/default.png" alt="card image" style="width: 100px;
height: 120px;"></p>
                                    <h4 class="card-title">Dr Haresh Gupta </h4>
                                    <h5 class="card-text">Member NGB </h5>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    
                                    <p class="card-text">Head, Medical Project & Support Services Program Cankids…Kidscan</p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                      <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" >
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class="rounded" src="/static/images/nikhil.jpeg" alt="card image" style="width: 100px;
height: 120px;"></p>
                                    <h4 class="card-title">Sri Nikhil Pant</h4>
                                    <h5 class="card-text">(Convener of NGB)</h5>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    
                                    <p class="card-text">Principal Consultant and <br>Chief Development Officer, REACHA<br>Former Chief Programme Executive (CSR), National Foundation For CSR, IICA, Ministry of Corporate Affairs, Government of India </p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding-top: 3%;">
        <div class="col-lg-12 col-md-12 ">
        <center>
           
                <h1 style="color: black;font-size: 2.5rem;text-align: center;text-transform: uppercase"><a href="/static/docs/str.pdf" style="color:black;">Download REACHA <span style="color: #7971ea;">Organizational Structure</span></a></center>
            </div>
        </div>
    </div>

</section>

   <section class="pt-5 pb-5" style="background: white;">
       <div class="container">
           <div class="row justify-content-center">
               <h1 style="font-weight: 400;color: black;">OUR  <span style="color: #70b6bc;">TEAM</span></h1>
           </div>
           <div class="row justify-content-center" style="margin-top: 2%">
               <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                  <i class="fa fa-arrow-left"></i>
              </a>
               <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next">
                  <i class="fa fa-arrow-right"></i>
              </a>
           </div>
               <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
                   <div class="carousel-inner">
                      <div class="carousel-item active">
                          <div class="row text-center">
                            <div class="col-md-4 mb-md-0 mb-5">
                                      <div class="avatar mx-auto">
                                        <img src="/static/images/mamta.jpeg" class="rounded-circle shadow z-depth-1-half" alt="Sample avatar" style="height:200px;width:180px;border: 1px solid black">
                                      </div>
                                      <h4 class="font-weight-bold dark-grey-text my-4">Mamatha Esteves</h4>
                                      <h6 class="text-uppercase grey-text mb-3"><strong>Advisor</strong></h6>
                                      <!-- Facebook-->

                                  </div>
                                  <div class="col-md-4 mb-md-0 mb-5">
                                      <div class="avatar mx-auto">
                                        <img src="/static/images/hitesh.jpeg" class="rounded-circle shadow z-depth-1-half" alt="Sample avatar" style="height:200px;width:180px;border: 1px solid black">
                                      </div>
                                      <h4 class="font-weight-bold dark-grey-text my-4">Mr. Hitesh Goyal</h4>
                                      <h6 class="text-uppercase grey-text mb-3"><strong>Consultant</strong></h6>
                                      <!-- Facebook-->

                                  </div>

                             <div class="col-md-4 mb-md-0 mb-5">
                                      <div class="avatar mx-auto">
                                        <img src="/static/images/sashi.jpeg" class="rounded-circle shadow z-depth-1-half" alt="Sample avatar" style="height:200px;width:180px;border: 1px solid black">
                                      </div>
                                      <h4 class="font-weight-bold dark-grey-text my-4">Mr. Shashi Bhushan</h4>
                                      <h6 class="text-uppercase grey-text mb-3"><strong>Senior Office Manager</strong></h6>
                                      <!-- Facebook-->

                                  </div>
                               
                                  
                           
                              
                                   
                          </div>
                      </div>
                          <div class="carousel-item">
                        
                                  

                              <div class="row text-center">
                                 <div class="col-md-4 mb-md-0 mb-5">
                                      <div class="avatar mx-auto">
                                        <img src="/static/images/Archana.jpeg" class="rounded-circle shadow z-depth-1-half" alt="Sample avatar" style="height:200px;width:180px;border: 1px solid black">
                                      </div>
                                      <h4 class="font-weight-bold dark-grey-text my-4">Ms. Archna</h4>
                                      <h6 class="text-uppercase grey-text mb-3"><strong>Program Manager</strong></h6>
                                      <!-- Facebook-->
                                  </div>
                                <div class="col-md-4 mb-md-0 mb-5">
                                      <div class="avatar mx-auto">
                                        <img src="/static/images/ibrahim.jpeg" class="rounded-circle shadow z-depth-1-half" alt="Sample avatar" style="height:200px;width:180px;border: 1px solid black">
                                      </div>
                                      <h4 class="font-weight-bold dark-grey-text my-4">Mr. Ibrahim Ansari</h4>
                                      <h6 class="text-uppercase grey-text mb-3"><strong>Accountant</strong></h6>
                                      <!-- Facebook-->
                                  </div>
                                <div class="col-md-4 mb-md-0 mb-5">
                                      <div class="avatar mx-auto">
                                        <img src="/static/images/shabid.jpeg" class="rounded-circle shadow z-depth-1-half" alt="Sample avatar" style="height:200px;width:180px;border: 1px solid black">
                                      </div>
                                      <h4 class="font-weight-bold dark-grey-text my-4">Mr. Shabid Nabi</h4>
                                      <h6 class="text-uppercase grey-text mb-3"><strong>Center Co-ordinator, Chinar 9 Jawan Club, Baramulla</strong></h6>
                                      <!-- Facebook-->
                                  </div>
                                 
                                  
                              </div>

                          </div>
                       <div class="carousel-item">
                              <div class="row text-center">
                                <div class="col-md-4 mb-md-0 mb-5">
                                      <div class="avatar mx-auto">
                                        <img src="/static/images/Nighat.jpeg" class="rounded-circle shadow z-depth-1-half" alt="Sample avatar" style="height:200px;width:180px;border: 1px solid black">
                                      </div>
                                      <h4 class="font-weight-bold dark-grey-text my-4">Ms. Nighat Kareem</h4>
                                      <h6 class="text-uppercase grey-text mb-3"><strong>Trainer English And Soft Skills</strong></h6>
                                      <!-- Facebook-->
                                  </div>
                                <div class="col-md-4 mb-md-0 mb-5">
                                      <div class="avatar mx-auto">
                                        <img src="/static/images/Harmeet.jpeg" class="rounded-circle shadow z-depth-1-half" alt="Sample avatar" style="height:200px;width:180px;border: 1px solid black">
                                      </div>
                                      <h4 class="font-weight-bold dark-grey-text my-4">Ms. Harmeet Kour</h4>
                                      <h6 class="text-uppercase grey-text mb-3"><strong>Trainer Fashion Designing</strong></h6>
                                      <!-- Facebook-->
                                  </div>
                                  <div class="col-md-4 mb-md-0 mb-5">
                                      <div class="avatar mx-auto">
                                        <img src="/static/images/Fozia.jpeg" class="rounded-circle shadow z-depth-1-half" alt="Sample avatar" style="height:200px;width:180px;border: 1px solid black">
                                      </div>
                                      <h4 class="font-weight-bold dark-grey-text my-4">Ms. Fozia Gul Bhat</h4>
                                      <h6 class="text-uppercase grey-text mb-3"><strong>Assistant Trainer Fashion Designing</strong></h6>
                                      <!-- Facebook-->
                                  </div>
                                  
                        
                                  
                                  
                                  
                                  
                              </div>

                          </div>
                       <div class="carousel-item">
                              <div class="row text-center">
                                <div class="col-md-4 mb-md-0 mb-5">
                                      <div class="avatar mx-auto">
                                        <img src="/static/images/mahapara.jpeg" class="rounded-circle shadow z-depth-1-half" halt="Sample avatar" style="height:200px;width:180px;border: 1px solid black">
                                      </div>
                                      <h4 class="font-weight-bold dark-grey-text my-4">Ms. Mahpara Naseem</h4>
                                      <h6 class="text-uppercase grey-text mb-3"><strong>Trainer Retail</strong></h6>
                                      <!-- Facebook-->
                                  </div>
                                <div class="col-md-4 mb-md-0 mb-5">
                                      <div class="avatar mx-auto">
                                        <img src="/static/images/Wahid.jpeg" class="rounded-circle shadow z-depth-1-half" alt="Sample avatar" style="height:200px;width:180px;border: 1px solid black">
                                      </div>
                                      <h4 class="font-weight-bold dark-grey-text my-4">Mr. Wahid Mukhdoomi</h4>
                                      <h6 class="text-uppercase grey-text mb-3"><strong>Trainer Hospitality </strong></h6>
                                      <!-- Facebook-->
                                  </div>
                                  <div class="col-md-4 mb-md-0 mb-5">
                                      <div class="avatar mx-auto">
                                        <img src="/static/images/Tariq.jpeg" class="rounded-circle shadow z-depth-1-half" alt="Sample avatar" style="height:200px;width:180px;border: 1px solid black">
                                      </div>
                                      <h4 class="font-weight-bold dark-grey-text my-4">Mr. Tariq Ahmad</h4>
                                      <h6 class="text-uppercase grey-text mb-3"><strong>Trainer Music and Culture</strong></h6>
                                      <!-- Facebook-->
                                  </div>
                    
                                  

                                  
                                  
                              </div>

                          </div>
                       <div class="carousel-item">
                              <div class="row text-center">
                                 <div class="col-md-4 mb-md-0 mb-5">
                                      <div class="avatar mx-auto">
                                        <img src="/static/images/Aijaz.jpeg" class="rounded-circle shadow z-depth-1-half" alt="Sample avatar" style="height:200px;width:180px;border: 1px solid black">
                                      </div>
                                      <h4 class="font-weight-bold dark-grey-text my-4">Mr. Aijaz Ahmad</h4>
                                      <h6 class="text-uppercase grey-text mb-3"><strong>Trainer Music and Culture</strong></h6>
                                      <!-- Facebook-->
                                  </div>
                                 
                                  <div class="col-md-4 mb-md-0 mb-5">
                                      <div class="avatar mx-auto">
                                        <img src="/static/images/semma.jpg" class="rounded-circle shadow z-depth-1-half" alt="Sample avatar" style="height:200px;width:180px;border: 1px solid black">
                                      </div>
                                      <h4 class="font-weight-bold dark-grey-text my-4">Ms.Seema Mehraj</h4>
                                      <h6 class="text-uppercase grey-text mb-3"><strong>Counsellor Drug De-Addiction Center</strong></h6>
                                      <!-- Facebook-->
                                  </div>
                                  <div class="col-md-4 mb-md-0 mb-5">
                                      <div class="avatar mx-auto">
                                        <img src="/static/images/Aarifa.jpeg" class="rounded-circle shadow z-depth-1-half" alt="Sample avatar" style="height:200px;width:180px;border: 1px solid black">
                                      </div>
                                      <h4 class="font-weight-bold dark-grey-text my-4">Ms. Aarifa Aslam</h4>
                                      <h6 class="text-uppercase grey-text mb-3"><strong>Counsellor Drug De-Addiction Center</strong></h6>
                                      <!-- Facebook-->
                                  </div>
                              </div>

                          </div>
                         
                   </div>
               </div>
       </div>
   </section>
      <section id="grid4" style="background: linear-gradient(rgba(40,40,40,0.5),rgba(40,40,40,0.5)),url('/static/images/geo_back.jpeg');background-repeat: no-repeat;background-size: cover;background-attachment: fixed;">

          <div class="container">
              <div class="row" style="margin-left: 5%;margin-right: 5%;margin-top: 2%;margin-bottom: 2%">
                  <div class="col-lg-6 justify-content-center">
                      <h1 style="font-size:2.5rem;color: white">GEOGRAPHIES</h1>
                      <p style="font-size: 21.5px;color: white;margin-top: 2%;">REACHA works across the country. Geographies covered so far include Uttarakhand, Uttar Pradesh, Delhi-NCR, Kashmir, Maharashtra, Karnataka, Madhya Pradesh, West Bengal, and Punjab</p>
                  </div>
                  <div class="col-lg-6" data-aos="fade-left">
                      <img src="/static/images/india3.jpg" style="border: 0.5px solid black" class="img-fluid">
                  </div>
              </div>
          </div>
      
      </section>
      <section style="background: #e6e8e2">
          <div class="container">
              <div class="row justify-content-center" style="margin-bottom: 2%">
                  <h1 style="font-size: 2.5rem;">ANNUAL  <span style="color: #70b6bc;"> REPORTS</span></h1>
              </div>
              <div class="row" style="margin-top: 2%">
<div class="col-2 justify-content-center">
                      <a href="/static/docs/Reacha Annual Report 2008-09.pdf" download="">Report 2008-09</a>
                  </div>                  
<div class="col-2 justify-content-center">
                      <a href="/static/docs/2009-10%20Annual%20Report.pdf" download="">Report 2009-10</a>
                  </div>
                  <div class="col-2 justify-content-center">
                      <a href="/static/docs/2010-11%20Annual%20Report.pdf" download="">Report 2010-11</a>
                  </div>
                  <div class="col-2 justify-content-center">
                      <a href="/static/docs/2011-12%20Annual%20Report.pdf" download="">Report 2011-12</a>
                  </div>
                  <div class="col-2 justify-content-center">
                      <a href="/static/docs/2012-13%20Annual%20Report.pdf" download="">Report 2012-13</a>
                  </div>
                  <div class="col-2 justify-content-center">
                      <a href="/static/docs/2013-14%20Annual%20Report.pdf" download="">Report 2013-14</a>
                  </div>
                  <div class="col-2 justify-content-center">
                      <a href="/static/docs/2014-15%20Annual%20Report.pdf" download="">Report 2014-15</a>
                  </div>
                  <div class="col-2 justify-content-center">
                      <a href="/static/docs/2015-16%20Annual%20Report.pdf" download="">Report 2015-16</a>
                  </div>
                  <div class="col-2 justify-content-center">
                      <a href="/static/docs/2016-17%20Annual%20Report.pdf" download="">Report 2016-17</a>
                  </div>
                  <div class="col-2 justify-content-center">
                      <a href="/static/docs/2017-18%20Annual%20Report.pdf" download="">Report 2017-18</a>
                  </div>
                  <div class="col-2 justify-content-center">
                      <a href="/static/docs/2018-19%20Annual%20Report.pdf" download="">Report 2018-19</a>
                  </div>
              </div>
          </div>
      </section>

<!--    <div class="site-section">-->
<!--      <div class="container">-->
<!--        <div class="row">-->
<!--          <div class="col-md-6 mx-auto text-center mb-5 section-heading">-->
<!--            <h2 class="mb-5">MEET OUR TEAM</h2>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="row">-->
<!--          <div class="col-md-6 col-lg-4 mb-5">-->
<!--            <div class="church-service text-center">-->
<!--              <a href="#" class="d-block mb-4 thumbnail"><img src="/static/images/person_1.jpg" alt="Image" class="img-fluid"></a>-->
<!--              <h3 class="heading mb-3"><a href="#">Chairman: Sri Jagdish Chandra Pant (IAS Retd.)</a></h3>-->
<!--              <p><li>Former Secretary, Government of India Ministries of Agriculture and Health & Family Welfare</li>-->
<!--<li>Former Chairman, High Powered Committee that was the precursor to the National Disaster Management Authority, Ministry of Home, Government of India.</li></p>-->
<!--              <p><a href="#" class="text-primary">Read More <span class="icon-arrow-right small"></span></a></p>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-md-6 col-lg-4 mb-5">-->
<!--            <div class="church-service text-center">-->
<!--              <a href="#" class="d-block mb-4 thumbnail"><img src="/static/images/person_2.jpg" alt="Image" class="img-fluid"></a>-->
<!--              <h3 class="heading mb-3"><a href="#">Vice Chairperson</a></h3>-->
<!--              <p>Dr (Mrs.) Abha Pant; former Chief Medical Officer, NDMC, Delhi Government</p>-->
<!--              <p><a href="#" class="text-primary">Read More <span class="icon-arrow-right small"></span></a></p>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-md-6 col-lg-4 mb-5">-->
<!--            <div class="church-service text-center">-->
<!--              <a href="#" class="d-block mb-4 thumbnail"><img src="/static/images/person_3.jpg" alt="Image" class="img-fluid"></a>-->
<!--              <h3 class="heading mb-3"><a href="#">Executive Director</a></h3>-->
<!--              <p>Sri V.P. Singh (IFS Retd.); former Principal Chief Conservator of Forests (PCCF), West Bengal, India</p>-->
<!--              <p><a href="#" class="text-primary">Read More <span class="icon-arrow-right small"></span></a></p>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="col-md-6 col-lg-4 mb-5">-->
<!--            <div class="church-service text-center">-->
<!--              <a href="#" class="d-block mb-4 thumbnail"><img src="/static/images/person_4.jpg" alt="Image" class="img-fluid"></a>-->
<!--              <h3 class="heading mb-3"><a href="#">Treasurer</a></h3>-->
<!--              <p>Capt. V.K. Pandey; Director, Manava Bharati India International School, New Delhi</p>-->
<!--              <p><a href="#" class="text-primary">Read More <span class="icon-arrow-right small"></span></a></p>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-md-6 col-lg-4 mb-5">-->
<!--            <div class="church-service text-center">-->
<!--              <a href="#" class="d-block mb-4 thumbnail"><img src="/static/images/person_1.jpg" alt="Image" class="img-fluid"></a>-->
<!--              <h3 class="heading mb-3"><a href="#">Dr. Pranav Pandya</a></h3>-->
<!--              <p>Director, Brahmavarchas Shodh Sansthan, HaridwarMember, NGB</p>-->
<!--              <p><a href="#" class="text-primary">Read More <span class="icon-arrow-right small"></span></a></p>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-md-6 col-lg-4 mb-5">-->
<!--            <div class="church-service text-center">-->
<!--              <a href="#" class="d-block mb-4 thumbnail"><img src="/static/images/person_2.jpg" alt="Image" class="img-fluid"></a>-->
<!--              <h3 class="heading mb-3"><a href="#">Dr. S.L. Seth</a></h3>-->
<!--              <p>Former Principal Scientist, Indian Council of Agricultural Research Member, NGB</p>-->
<!--              <p><a href="#" class="text-primary">Read More <span class="icon-arrow-right small"></span></a></p>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-md-6 col-lg-4 mb-5">-->
<!--            <div class="church-service text-center">-->
<!--              <a href="#" class="d-block mb-4 thumbnail"><img src="/static/images/person_2.jpg" alt="Image" class="img-fluid"></a>-->
<!--              <h3 class="heading mb-3"><a href="#">Sri Ramesh Mital</a></h3>-->
<!--              <p>Member, NGB</p>-->
<!--              <p><a href="#" class="text-primary">Read More <span class="icon-arrow-right small"></span></a></p>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-md-6 col-lg-4 mb-5">-->
<!--            <div class="church-service text-center">-->
<!--              <a href="#" class="d-block mb-4 thumbnail"><img src="/static/images/person_2.jpg" alt="Image" class="img-fluid"></a>-->
<!--              <h3 class="heading mb-3"><a href="#">Sri Aakash Khandelwal</a></h3>-->
<!--              <p>Member Secretary, DPS - Amritsar Director, Educore Consultants Member, NGB</p>-->
<!--              <p><a href="#" class="text-primary">Read More <span class="icon-arrow-right small"></span></a></p>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-md-6 col-lg-4 mb-5">-->
<!--            <div class="church-service text-center">-->
<!--              <a href="#" class="d-block mb-4 thumbnail"><img src="/static/images/person_2.jpg" alt="Image" class="img-fluid"></a>-->
<!--              <h3 class="heading mb-3"><a href="#">Sri Lalit Pant</a></h3>-->
<!--              <p>B.Tech (IIT Kanpur); M.Tech (IIT Delhi); Founder - Kojo Foundation Member, NGB</p>-->
<!--              <p><a href="#" class="text-primary">Read More <span class="icon-arrow-right small"></span></a></p>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-md-6 col-lg-4 mb-5">-->
<!--            <div class="church-service text-center">-->
<!--              <a href="#" class="d-block mb-4 thumbnail"><img src="/static/images/person_2.jpg" alt="Image" class="img-fluid"></a>-->
<!--              <h3 class="heading mb-3"><a href="#">Mrs. Ruchi Pant</a></h3>-->
<!--              <p>Senior DGM, Bharat Electronics Limited, Ghaziabad Member, NGB</p>-->
<!--              <p><a href="#" class="text-primary">Read More <span class="icon-arrow-right small"></span></a></p>-->
<!--            </div>-->
<!--          </div>-->
<!--           <div class="col-md-6 col-lg-4 mb-5">-->
<!--            <div class="church-service text-center">-->
<!--              <a href="#" class="d-block mb-4 thumbnail"><img src="/static/images/person_2.jpg" alt="Image" class="img-fluid"></a>-->
<!--              <h3 class="heading mb-3"><a href="#">Dr Haresh Gupta</a></h3>-->
<!--              <p>Head Medical Project & Support Services Program Cankids…Kidscan Member, NGB</p>-->
<!--              <p><a href="#" class="text-primary">Read More <span class="icon-arrow-right small"></span></a></p>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-md-6 col-lg-4 mb-5">-->
<!--            <div class="church-service text-center">-->
<!--              <a href="#" class="d-block mb-4 thumbnail"><img src="/static/images/person_2.jpg" alt="Image" class="img-fluid"></a>-->
<!--              <h3 class="heading mb-3"><a href="#">Sri Nikhil Pant (Non - Member: Convener of NGB)</a></h3>-->
<!--              <p>Principal Consultant and Chief Development Officer, REACHA Former Chief Programme Executive (CSR), IICA, under Ministry of Corporate Affairs, Government of India</p>-->
<!--              <p><a href="#" class="text-primary">Read More <span class="icon-arrow-right small"></span></a></p>-->
<!--            </div>-->
<!--          </div>-->

<!--        </div>-->
<!--      </div>-->
<!--    </div>-->




    
    
  </div>
  {% endblock %}