{% extends "base.html" %}
{% block content %}


<section style="margin-top: 135px;">

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100 img-fluid"  src="/static/images/Simple Work Blog Banner (2).png"  alt="First slide">
       
    </div>
</div>
</div>
</section>



    <section>
      <div class="container">
           <div class="row justify-content-center" data-aos="fade-right" style="padding-top: 3%;" >
          <div class="col-lg-10 col-md-10" style="background: #b6985e;">
                  <h1 style="color: black;font-size: 2.5rem;">ABOUT <span style="color: white">THE PROJECT</span></h1>
          </div>
          </div>
       <div class="row justify-content-center" data-aos="fade-right" >
          <div class="col-lg-8 col-md-8 col-sm-8">
            <p data-aos="fade-left" style="color:rgb(0,0,0,0.9);font-size: 16px;font-family:Georgia,serif;padding-top: 2%;line-height:30px;text-align: justify;">We are all aware that energy resources that support life on earth are fast depleting. As humans multiply in numbers, the load carrying capacity of earth is getting threatened by the day. There is little time to preach. Action, and that too organized, is the urgent need of the hour.<br><br>
NDPL ENERGY CLUB was an endeavour in this direction by NDPL (North Delhi Power Ltd) in association with REACHA, New Delhi (a Voluntary Organisation registered under the Societies Registration Act, 1860). The Club sought to sensitise school children of an impressionable age (Classes VI – VIII) in schools, on such issues relating to energy, (and other resources), Indian Heritage and Citizens’ Duties and Rights that need to be addressed immediately – for the sake of mother earth!<br><br>
            Children were involved in two projects in the 1st year of the Club in designated schools:<br><br>
            1. PROJECT CONSERVE (Conservation of Energy Resources through Verification and Experimentation), and<br><br>
            2. PROJECT NEST (Neighbourhood Energy Sensitisation Task)
             <br><br>Through PROJECT CONSERVE each student actually monitored the pattern of electricity consumption at-home/school, uses the electricity bill for assessing the present consumption; applied conservation techniques as explained by our experts, and sought to save energy. The later bills reflected these positive changes.<br><br>

Through PROJECT NEST each student sought to sensitise five known neighbours over a period of 4-5 months, and helped them do at home what he/she did through the 1st project.<br><br>

In this way, each student of Classes VI – VIII (and subsequently Classes IX – XII over 4-5 years) became an active conservationist through practise, and also trained the neighbouring community in the process. If this process is replicated on a larger scale, REAL CONSERVATION efforts would begin to take shape.<br><br>
            Two teachers and 4-6 responsible students from these classes (together called the Core Group, or CG) were required to attend a preliminary training workshop at a suitable venue (normally one of the participating schools). Schools were requested to identify the members of the CG at an early date. The CG’s subsequently became the chief implementers/co-ordinators of the two projects in their respective schools. Series of workshops/seminars/Urja Mela etc were organized over the academic year to deliver the programme. These were followed up with extensive and exhaustive fieldwork/visits to schools and homes of students and teachers for grass-roots’ assessment, feedback analysis etc.<br><br>

Best performing schools/teachers/students were rewarded by NDPL in the form of scholarships/prizes/mementos/certificates.<br><br>

            The NDPL Energy Club (NEC) was formally launched at Prabhu Dayal Public School, Delhi on 8th October 2004 at the “Core Group Conclave”. Five schools from North Delhi took part in the inaugural workshop to initiate PROJECT CONSERVE (CONServation of Energy Resources through Verification and Experimentation). These were:<br>
            1.Apeejay School, Pitampura<br>
 2.Bal Bharati Public School, Rohini<br>
           3.Prabhu Dayal Public School, Shalimar Bagh  <br>
            4.Lancers Convent, Rohini <br>
            5.Rukmani Devi Public School, Rajpur Road <br>          
        </div>
          <div class='col-lg-2 col-md-2 col-sm-2' style="background: white;margin-top: 2%;height: 180px;">
             <p style="text-align:center;font-family: Georgia,serif;font-size: 12px;font-style: italic;color:black;margin-top: 10px;">In this Page</p>
             <p style="font-family: ff-din-web,sans-serif;font-style: normal;font-weight: 500;color: #3086ab;text-transform: uppercase;font-size: 12px;">About The Project</p>
             <p style="font-family: ff-din-web,sans-serif;font-style: normal;font-weight: 500;color: #3086ab;text-transform: uppercase;font-size: 12px;">Model of Intervention</p>
             <p style="font-family: ff-din-web,sans-serif;font-style: normal;font-weight: 500;color: #3086ab;text-transform: uppercase;font-size: 12px;">Gallery</p>
             <p style="font-family: ff-din-web,sans-serif;font-style: normal;font-weight: 500;color: #3086ab;text-transform: uppercase;font-size: 12px;">Resources</p>
             
         
             

          </div>
          <div class="row justify-content-center" style="padding-top: 2%;">
            <div class="col-lg-10 col-md-10"  data-aos="fade-right">
            <center>
                <p style="font-family: ff-din-web,sans-serif;font-style: normal;font-weight: 700;color: #3086ab;text-transform: uppercase;font-size: 18px;">Model of Intervention</p>
              <img src="/static/images/model.jpg" class="img-fluid" style="border-radius: 10px;border:2px solid black;">
          </center>
            </div>
        
        </div>
          <!--<div class="col-lg-6" data-aos="fade-left">
            <img src="/static/images/ndpl_back3.jpg" style="width: 60%;height: 300px;box-shadow: 0px 10px 30px black;margin-left: 20%;margin-top: 5%;">
            <img src="/static/images/ndpl_back4.JPG" style="width: 80%;height: 400px;box-shadow: 0px 10px 30px black;margin-top: 10%;margin-left: 10%">
            <img src="/static/images/ndpl3.JPG" style="width: 80%;height: 400px;box-shadow: 0px 10px 30px black;margin-left: 10%;margin-top: 10%;">


          </div>-->
        <div class="row justify-content-center" style="padding-top: 3%;">
          <div class="col-lg-10 col-md-10"  data-aos="fade-left" style="padding-top:2%;border-top: 2px solid;">
            <p  style="color:rgb(0,0,0,0.9);font-size: 16px;font-family:Georgia,serif;padding-top: 2%;line-height:30px;text-align: justify;">These 5 schools were chosen for a Pilot Project, from a group of 25-30 schools, by NDPL, in order to launch the NDPL Energy Clubs in association with REACHA.<br><br>

PROJECT CONSERVE successfully culminated with the competitive URJA MELA at Bal Bharati Public School, Rohini, in February 2005. By this time more than 2000 students had enrolled as members of NEC.<br><br>

This was followed by Project NEST from May – July 2005. In this project, the already sensitized NEC members began to successfully mobilize and sensitise five neighbors each. This led to large scale peoples’ participation in energy conservation in the NDPL distribution areas – with school kids as the flag bearers of the conservation movement. REACHA carried out intensive as well as extensive fieldwork activities during this period.<br><br>

In the 1st Phase that was launched in October 2004 in 5 North Delhi Public Schools, 2500 – 3000 students were sensitised along with their teachers, parents, and the neighbourhood community.<br><br> In the 2nd Phase 20 new schools were added – 10 Delhi Government + 10 Public. The 5 old schools now became the Nodal Training Centers (NTCs) and each was allotted 4-5 new schools for ‘Peer-Group Learning (PGL). Children were influenced most by their peers – and thus we sought to encourage PGL dynamics in a massive scale over the next 5 years. By the end of the 2nd Phase in June 2006 we had sensitised around 50,000+ students, and hundreds of their parents and neighbours.<br><br>

In the 3rd Phase - with 50 schools as members (30 Government and 20 Public Schools) we had sensitised about 200,000 students, thousands of their parents and neighbours by end November 2007.<br><br>

Each year, the set of old schools became the NTCs for the new ones that joined the movement. The NTCs were initiated into value-add-on’s like Indian Heritage, Citizens’ Duties and Rights, Health, Sports & Physical Fitness, Photography etc to promote the development of an integrated personality. REACHA has worked extensively and exhaustively to develop plug-ins for the existing education system through ‘Learning-By-Doing (LBD)’ modules that have been endorsed by national academic institutions like CBSE and NIEPA (National Institute for Educational Planning and Administration) based on these value-add-on’s, that assist and empower each child to harness his/her hidden talents, seek careers matching them and eventually start leading a healthy, peaceful and cheerful existence.<br><br>
            We feel that if this were

to be achieved in India through such Child-Centric Programmes (CCPs) a NATIONAL RESURGENCE will take shape – elevating India into the league of DEVELOPED NATIONS and a BENEVOLENT SUPERPOWER in the 21st Century.

Since January 2008 REACHA handed over the NDPL Energy Club to its rightful owners, i.e NDPL. NDPL (Tata Power Delhi Distribution Limited as on date) now showcases this programme at their official website. CLUB ENERJI</p>
            </div>
            </div>
            <div class="row justify-content-center" style="padding-top: 2%;">
            <div class="col-lg-5 col-md-5"  data-aos="fade-right">
            <center>
              <img src="/static/images/ndpl6.jpg" class="img-fluid" style="border-radius: 10px;border:2px solid black;"></center>
          
            </div>
             <div class="col-lg-4 col-md-4"  data-aos="fade-right">
            <center>
              <img src="/static/images/ndplabt.JPG" class="img-fluid" style="border-radius: 10px;border:2px solid black;"></center>

            </div>
        </div>
         <div class="row justify-content-center" style="padding-top: 3%;">
          <div class="col-lg-10 col-md-10"  data-aos="fade-left" style="padding-top:2%;border-top: 2px solid;">
            <p  style="color:rgb(0,0,0,0.9);font-size: 16px;font-family:Georgia,serif;padding-top: 2%;line-height:30px;text-align: justify;">
           REACHA is in the process of making this energy conservation movement a nationwide phenomenon.<br>
          To prevent misuse of REACHA concepts regarding Energy Club, the following concepts as developed by REACHA have been copyrighted:<br>
            1. Project CONSERVE (Conservation of Energy Resources through Verification & Experimentation) <br>
            2. Project NEST (Neighbourhood Energy Sensitisation Task) <br>
            3. E- File - or Energy File <br>
            4. DPEC (Domestic Patterns of Energy Consumption) Form - meant for self-audit <br>
            All of the above form the basis of our Child Centric Learning By Doing (CCLBD) Module for the delivery of Energy Clubs in schools. These have been evolved since the year 2004 with the launch of the NDPL Energy Clubs in Delhi. </p>
          </div>
      </div>

        </div>
      
     </p>
 </div>
</div>
</div>
  </section>
 <style>
.img-hover img {
    -webkit-transition: all .3s ease; /* Safari and Chrome */
  	-moz-transition: all .3s ease; /* Firefox */
  	-o-transition: all .3s ease; /* IE 9 */
  	-ms-transition: all .3s ease; /* Opera */
  	transition: all .3s ease;
  	position:relative;
}
.img-hover img:hover {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform:translateZ(0) scale(1.20); /* Safari and Chrome */
    -moz-transform:scale(1.20); /* Firefox */
    -ms-transform:scale(1.20); /* IE 9 */
    -o-transform:translatZ(0) scale(1.20); /* Opera */
    transform:translatZ(0) scale(1.20);
}

.img-hover:hover:after {
    position:absolute;
    top:0;
    left:0;
    z-index:2;
    width:2px;
    height:2px;
}

</style>
 <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="background:#e6e8e2">
      <h1 style="color: black;font-size: 2.5rem;padding-top: 2%;">GALLERY</h1>

  <div class="carousel-inner">
    <div class="carousel-item active">
        <div class="row img-hover" style="margin-left: 5%;margin-right: 5%;margin-bottom: 5%">
            <div class="col-lg-4 col-md-4 col-xs-3 thumb" style="padding-top: 2%">
                <img src="/static/images/modelshow.JPG" class="img-fluid ">
            </div>
            <div class="col-lg-4 col-md-4 col-xs-3 thumb" style="padding-top: 2%">
                <img src="/static/images/ndplgall1.JPG" class="img-fluid ">
            </div>
            <div class="col-lg-4 col-md-4 col-xs-3 thumb" style="padding-top: 2%">
                <img src="/static/images/ndpl3.JPG" class="img-fluid ">
            </div>
        </div>
    </div>
    <div class="carousel-item">
        <div class="row img-hover" style="margin-left: 5%;margin-right: 5%;margin-bottom: 5%">
            <div class="col-lg-4 col-md-4 col-xs-3 thumb" style="padding-top: 2%">
                <img src="/static/images/ndpl4.JPG" class="img-fluid ">
            </div>
            <div class="col-lg-4 col-md-4 col-xs-3 thumb" style="padding-top: 2%">
                <img src="/static/images/ndpl5.JPG" class="img-fluid ">
            </div>
            <div class="col-lg-4 col-md-4 col-xs-3 thumb" style="padding-top: 2%">
                <img src="/static/images/ndplgall3.JPG" class="img-fluid ">
            </div>
        </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="fas fa-chevron-circle-left" style="font-size: 40px;padding-top: 15%;color:white;" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="fas fa-chevron-circle-right" style="font-size: 40px;padding-top: 15%;color:white;" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


  
    <section>


<h1 style="color:black;font-size: 2.5rem;padding-top: 2%;padding-bottom: 2%;">RESOURCES</h1>

<div class="container">
    <div class="card-deck">
      <div class="card mb-4" style="background-color: white;
">
            <img class="card-img-top img-fluid" src="/static/images/images.png" style="width:60px;height:60px;margin-left: 30%;margin-top: 15%;" alt="Card image cap">
            <div class="card-body">
                <a href="/static/docs/ifc-world%20bank%20on%20ndpl%20energy%20club.pdf"><p class="card-title text-center"  style="color:black;font-size: 15px;line-height: 20px;font-family: Nunito">IFC-WORLD BANK ON NDPL ENERGY CLUB.</p></a>
                <center>
                <button type="button" class="btn btn-warning btn-xs"><a href="/static/docs/ifc-world%20bank%20on%20ndpl%20energy%20club.pdf" style="color:black;">Download</a></button>
                </center>
            </div>
        </div>
        <div class="card mb-4" style="background-color: white;
">
            <img class="card-img-top img-fluid" src="/static/images/images.png"style="width:60px;height:60px;margin-left: 30%;margin-top: 15%;" alt="Card image cap">
            <div class="card-body">
                <a href="/static/docs/NDPL%20energy%20club%20coverage%20in%20NAVODAYA.pdf"><p class="card-title text-center"  style="color:black;font-size: 15px;line-height: 20px;font-family: Nunito">NDPL ENERGY CLUB COVERAGE IN NAVODAYA</p></a>
                <center>
                <button type="button" class="btn btn-warning btn-xs"><a href="/static/docs/NDPL%20energy%20club%20coverage%20in%20NAVODAYA.pdf" style="color:black;">Download</button>
                </center>
            </div>
        </div>
        <div class="card mb-4" style="background-color: white;
">

            <img class="card-img-top img-fluid" src="/static/images/images.png" style="width:60px;height:60px;margin-left: 30%;margin-top: 15%;"alt="Card image cap">
            <div class="card-body">
                <a href="/static/docs/NDPL%20energy%20club%20phamphlet.pdf"><p class="card-title text-center" style="color:black;font-size: 15px;line-height: 20px;font-family: Nunito">NDPL ENERGY CLUB PHAMPHLET.</p></a>
                <center>
                <button style="margin-top: 12%;" type="button" class="btn btn-warning btn-xs"><a href="/static/docs/NDPL%20energy%20club%20phamphlet.pdf" style="color:black;">Download</a></button>
                </center>
            </div>
        </div>
         <div class="card mb-4" style="background-color: white;
">

            <img class="card-img-top img-fluid" src="/static/images/images.png" style="width:60px;height:60px;margin-left: 30%;margin-top: 15%;" alt="Card image cap">
            <div class="card-body">
                <a href="/static/docs/North%20Delhi%20Power%20Limited%20..press%20release.pdf"><p class="card-title text-center"  style="color:black;font-size: 15px;line-height: 20px;font-family: Nunito">NORTH DELHI POWER LIMITED PRESS RELEASE</p></a>
                <center>
                <button type="button" class="btn btn-warning btn-xs"><a href="/static/docs/North%20Delhi%20Power%20Limited%20..press%20release.pdf" style="color:black;">Download</a></button>
                </center>
            </div>
        </div>
        
        <div class="card mb-4" style="background-color: white;
">
            <img class="card-img-top img-fluid" src="/static/images/images.png" style="width:60px;height:60px;margin-left: 30%;margin-top: 15%;"alt="Card image cap">
            <div class="card-body">
                <a href="/static/docs/North%20Delhi%20Power%20Limited%20..press%20release2.pdf"><p class="card-title text-center"  style="color:black;font-size: 15px;line-height: 20px;font-family: Nunito">NORTH DELHI POWER LIMITED PRESS RELEASE</p></a>
                <center>
                <button type="button" class="btn btn-warning btn-xs"><a href="/static/docs/North%20Delhi%20Power%20Limited%20..press%20release2.pdf" style="color:black">Download</a></button>
                </center>
            </div>
        </div>     
    </div>
</div>
</div>
</section>
{% endblock %}