{% extends "base.html" %}
{% block content %}
    <style>
       @media screen and (max-width: 1920px){
    
        .howwedo-img{
          max-width:350px;
          height:auto;
        }
        .my-gallery{
          height: 800px;
        }
      }
     @media screen and (max-width: 992px){
    
        .howwedo-img{
          max-width:350px;
          height:auto;
        }
        .my-gallery{
          height: 400px;
        }
      }
    @media screen and (max-width: 600px) {

        .howwedo-img{
          width:300px;
          height:auto;
        }
         .my-gallery{
          height: 400px;
        }
     
}
    
</style>


<!--MODALS-->


    
<section style="margin-top: 135px;">

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100 img-fluid"  src="/static/images/panditsiram.png"  alt="First slide">
       
    </div>
</div>
</div>
</section>


  <section>
          <div class="container">
                <div class="row justify-content-center" data-aos="fade-right" style="padding-top: 3%;" >
          <div class="col-lg-10 col-md-10" style="background: #b6985e;">
                  <h1 style="color: black;font-size: 2.5rem;">ABOUT THE <span style="color: white">BOOK</span></h1>
          </div>
          </div>
          <div class="row justify-content-center">
                  <div class="col-lg-8 col-md-8">
                    <p style="padding-top:2%;color:rgb(0,0,0,0.9);font-size: 16px;font-family:Georgia,serif;line-height: 30px;text-align: justify">Chairman REACHA and former Civil Servant (IAS Retired; 1961 batch from the UP Cadre; Former Secretary, Government of India, Ministry of Agriculture and later Secretary, Government of India, Ministry of Health and Family Welfare) Sri J.C.Pant has come out with his book</p>
                    <p><span style="font-weight: bolder;font-style: italic;color:rgb(0,0,0,0.9);font-size: 16px;font-family:Georgia,serif;line-height: 30px;text-align: justify">"Pandit Sriram Sharma Acharya As I knew Him…Memoirs of A Civil Servant"</span> </p>
                    <p style="color:rgb(0,0,0,0.9);font-size: 16px;font-family:Georgia,serif;line-height: 30px;text-align: justify">The book was formally released on 12th May 2010 by Smt & Sri Pant by placing the first copy of the publication on the Samadhi of Sant Gyaneshwar in Alandi near Pune. According to Sri Pant, Sant Gyaneshwar (1275 - 1296 AD) is the father of the Indian Renaissance. With his "Gyaneshwari," Sant Gyaneshwar, at the tender age of 14 years for the first time brought the eternal message of The Bhagwad Gita to the common masses through metaphoric verses in exquisite Marathi. The next major effort at bringing the eternal message of the Vedas was undertaken at the ripe age of 76 years by Goswami Tulsi Das in the 17th century AD through his "Ram Charit Manas" through exquisite versing in Awadhi. The Bhagwad Gita was to later become the gospel of the Indian freedom movement, to inspire great leaders like Lok Manya Bal Gangadhar Tilak and Mahatma Gandhi.<br><br>

This book has already reached the four National Libraries at New Delhi, Kolkata, Chennai & Mumbai. It adorns the libraries of the LBS National Academy of Administration, Mussoorie (3 copies); the UP Academy of Administration, Lucknow (10 copies); the Uttarakhand Academy of Administration, Nainital (5 copies); IIPA New Delhi; India International Centre, New Delhi;<br><br>

Gymkhana Club, New Delhi; Parliament House Library, New Delhi; Uttarakhand Council for Science & Technology (UCOST), Dehradun (5 copies); Population Foundation of India, New Delhi (20 copies), Manav Bharati India International School, New Delhi (10 copies), Doon Library, Dehradun (2 copies) & Bhatt Brothers, Dehradun (25 copies). In addition to this, scores of batchmates in IAS & other colleagues & friends too have bought a copy or two of the book, each during the last few months</p>
                  </div>
                  <div class='col-lg-2 col-md-2 col-sm-2' style="background: white;margin-top: 2%;height: 200px;">
             <p style="text-align:center;font-family: Georgia,serif;font-size: 12px;font-style: italic;color:black;margin-top: 10px;">In this Page</p>
             <p style="font-family: ff-din-web,sans-serif;font-style: normal;font-weight: 500;color: #3086ab;text-transform: uppercase;font-size: 12px;">About the book</p>
             <p style="font-family: ff-din-web,sans-serif;font-style: normal;font-weight: 500;color: #3086ab;text-transform: uppercase;font-size: 12px;">Target Audience</p>
             <p style="font-family: ff-din-web,sans-serif;font-style: normal;font-weight: 500;color: #3086ab;text-transform: uppercase;font-size: 12px;">How to order</p>
             <p style="font-family: ff-din-web,sans-serif;font-style: normal;font-weight: 500;color: #3086ab;text-transform: uppercase;font-size: 12px;">Modes of payement</p>
              <p style="font-family: ff-din-web,sans-serif;font-style: normal;font-weight: 500;color: #3086ab;text-transform: uppercase;font-size: 12px;">A brief</p>
              
           </div>
              </div>
              <div class="row justify-content-center">
                <div class="col-lg-8 col-md-8">
<center>
                  <img src="/static/images/pub1.PNG" style="padding-top:3%;padding-bottom: 5%;">
              </center>
                </div>
            </div>
              </div>
          </div>
      </section>
    <section style="background:#e6e8e2">
      <div class="container">
        <div class="row justify-content-center" style="padding-top: 3%">
          <div class="col-lg-10 col-md-10 col-sm-10">
            <h1 style="color: black;font-size:2.5rem">TARGET <span style="color:#3086ab">AUDIENCE</span></h1><br>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-8 col-sm-8">
            
            <p style="color:rgb(0,0,0,0.9);font-size: 16px;font-family:Georgia,serif;line-height: 30px;">1. Aspiring Civil Servants</p>
            <p style="color:rgb(0,0,0,0.9);font-size: 16px;font-family:Georgia,serif;line-height: 30px">2. Civil Servants in various departments and ministries</p>
            <p style="color:rgb(0,0,0,0.9);font-size: 16px;font-family:Georgia,serif;line-height: 30px">3. Libraries in schools, colleges, training institutes and academies</p>
            <p style="color:rgb(0,0,0,0.9);font-size: 16px;font-family:Georgia,serif;line-height: 30px">4. The NGO Sector</p>
            <p style="color:rgb(0,0,0,0.9);font-size: 16px;font-family:Georgia,serif;line-height: 30px">5. Development activists</p>
            <p style="color:rgb(0,0,0,0.9);font-size: 16px;font-family:Georgia,serif;line-height: 30px">6. Civil Society</p>
            <p style="color:rgb(0,0,0,0.9);font-size: 16px;font-family:Georgia,serif;line-height: 30px">7. Corporate executives</p>
            <p style="color:rgb(0,0,0,0.9);font-size: 16px;font-family:Georgia,serif;line-height: 30px">8. Teachers</p>
          </div>
    
            <div class='col-lg-4 col-md-4 col-sm-4' style="background: white;height: 150px;">
             <p style="text-align:center;font-family: Georgia,serif;font-size: 12px;font-style: italic;color:black;margin-top: 10px;">Download</p>
             <p style="font-family: ff-din-web,sans-serif;font-style: normal;font-weight: 500;color: #3086ab;text-transform: uppercase;font-size: 12px;"><a href="/static/docs/DOC1.pdf">COLOUR PHOTOS FROM THE BOOK</a></p>
             <p style="font-family: ff-din-web,sans-serif;font-style: normal;font-weight: 500;color: #3086ab;text-transform: uppercase;font-size: 12px;"><a href="/static/docs/DOC2.pdf">EBOOK- PANDIT SRIRAM SHARMA ACHARYA AS I KNEW HIM</a></p>
            
         </div>
             
           
         
             

          </div>
      </div>
          
      </div>
    </section>
    <section>
      <div class="container">
        <div class="row justify-content-center" style="margin-left: 5%;margin-right: 5%;margin-bottom: 5%;margin-top: 5%;margin-bottom: 5%;">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <p style="color:rgb(0,0,0,0.9);font-size: 16px;font-family:Georgia,serif;line-height: 30px;text-align: justify;">The entire sale proceeds have been donated to the corpus of REACHA for its charitable programmes by the author. Details of these activities are available at this site.</p>
            <p style="color:rgb(0,0,0,0.9);font-size: 16px;font-family:Georgia,serif;line-height: 30px;text-align: justify;">The Book, having 376 pages in all (hard bound) has been priced at Rs 800.00 for domestic purchase (including delivery) and USD 60.00 (Book price of USD 50 + USD 10 for packaging, posting and forwarding by airlmail/courier) for the international audience.</p>
        </div>
        <div class="row justify-content-center" style="padding-top: 3%;">
            <div class="col-lg-12 col-md-12">
            <h1 style="text-transform: uppercase;font-size:2.5rem;border-top:2px solid black;padding-top: 2%;color:black;">Steps for placing<span style="color:#3086ab"> your order</span></h1>
            <p style="color:rgb(0,0,0,0.9);font-size: 16px;font-family:Georgia,serif;line-height: 30px;padding-top: 2%;">1. Fill the <a href="https://creator.zoho.com/nikhilpant/pandit-sriram-sharma-acharya-as-i-knew-him/form-perma/Booking_Form/" target="_blank">Booking Form</a></p>
            <p style="color:rgb(0,0,0,0.9);font-size: 16px;font-family:Georgia,serif;line-height: 30px">2. You may order your copy by calling Nikhil Pant (+91 9811447613) or emailing him at nikhil@reacha.org</p>
            <p style="color:rgb(0,0,0,0.9);font-size: 16px;font-family:Georgia,serif;line-height: 30px">3. You will receive a Booking Confirmation from REACHA via email/phone</p>
            <p style="color:rgb(0,0,0,0.9);font-size: 16px;font-family:Georgia,serif;line-height: 30px">4. We will contact you as per details stated in the Booking Form regarding dispatch/payment procedures</p>
            <p style="color:rgb(0,0,0,0.9);font-size: 16px;font-family:Georgia,serif;line-height: 30px">5. Allow us 4-6 weeks to ship the book to your address of choice as mentioned in the Booking Form</p>
            <p style="color:rgb(0,0,0,0.9);font-size: 16px;font-family:Georgia,serif;line-height: 30px">6. A receipt shall also be sent</p>
            <h1 style="text-transform: uppercase;font-size:2.5rem;border-top:2px solid black;padding-top: 2%;color:black;" >Modes of <span style="color:#3086ab"> Payment</span></h1>
            <p style="color:rgb(0,0,0,0.9);font-size: 16px;font-family:Georgia,serif;line-height: 30px;padding-top:2%;">1. Through Wire Transfer (SWIFT) for foreign currency contributions.</p>
            <p style="color:rgb(0,0,0,0.9);font-size: 16px;font-family:Georgia,serif;line-height: 30px">2. For online payments within India - through NEFT (National Electronic Funds Transfer) as per <a href="https://www.rbi.org.in/Scripts/FAQView.aspx" target="_blank">RBI regulations.</a> If you choose this option REACHA will email you separately its SB Account Number and the IFSC code of its Bank Branch for you to credit the relevant amount online (equivalent to no. of copies x Rs. 800/)</p>
            <p style="color:rgb(0,0,0,0.9);font-size: 16px;font-family:Georgia,serif;line-height: 30px">If you have any trouble in booking your copy or if there are delays in delivery, you may call Nikhil Pant or email him at nikhil@reacha.org</p>
          </div>
      </div>
  </div>
        </div>
      </div>
    </section>
    <section style="background:#e6e8e2">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-10">
          <h1 style="text-transform: uppercase;font-size:2.5rem;padding-top: 3%;color:black;">A Brief on the book <span style="color:#3086ab">is presented below</h1>
          <center>
          <img src="/static/images/book1.jpg" style="padding-top: 3%">
            <img src="/static/images/book2.jpg">
        </center>
          </div>
        </div>
      </div>
    </section>

{% endblock %}